header {
    background-color: #E2D372;
    padding: 10px 20px; 
}


.logo {
    width: 200px;
    margin-right: 300px; 
}

.flex-header {
    display: flex; 
    justify-content: flex-start; 
    align-items: flex-end;
}

.flex-ul {
    display: flex;
    list-style: none; 
    margin: 0;
    padding: 0;
    gap: 40px
}

.flex-nav{
    display: flex;
    flex-direction: column-reverse;
    padding: 30px;
    align-items: center
}

li {
    margin: 0 15px 15px; 

}

.a-class {
    text-decoration: none;
    color: #4B3621; 
    white-space: nowrap; 
}


.search-container {
    display: flex;
    max-width: 400px; 
    border-radius: 25px; 
    overflow: hidden; 
    background-color: white;
    margin-bottom: 30px;
}

.search-input {
    border: none;
    padding: 10px 20px;
    flex-grow: 1; 
    outline: none; 
    font-size: 14px;
}

.search-btn {
    background-color: #5d4037; 
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background 0.3s ease;
    font-weight: bold;
}

.search-btn:hover {
    background-color: #3e2723; 
}