<!DOCTYPE html>
<html lang='es'>
<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>BioImpact</title>
    <link rel='stylesheet' href=''>
</head>
<body>
    <header>
        <h1>BioImpact</h1>


        <nav>
            <table>
                <thead>
                    <tr> <th>buscador</th> </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><a href="">EcoEscuelas</a></td>
                        <td><a href="">PlantAR</a></td>
                        <td><a href="">Cero Residuos</a></td>
                        <td><a href="">Guardianes Del Agua</a></td>
                    </tr>

                </tbody>
            </table>
        </nav>


    </header>
</body>
</html>