<!DOCTYPE html>
<html lang='es'>
<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>BioImpact</title>
    <link rel='stylesheet' href='../../public/css/styles.css'>
</head>
<body>
    <header class="flex-header">

        <div>
            <img class="logo" src="../../public/images/Logo.png" alt="Logo BioImpact">
        </div>
        
        
        <nav class="flex-nav" >
            <ul class="flex-ul">
                <li><a href="ecoEscuelas.html" class="a-class" target="_self">EcoEscuelas</a></li>
                <li><a href="plantAr.html" class="a-class" target="_self">PlantAr</a></li>
                <li><a href="ceroReciduos.html" class="a-class" target="_self">Cero Reciduos</a></li>
                <li><a href="guardianesDelAgua.html" class="a-class" target="_self">Guardianes Del Agua</a></li>
            </ul>
            <form class="search-container">
                <input type="text" placeholder="Buscar proyectos..." class="search-input">
                <button type="submit" class="search-btn">
                    Buscar
                </button>
            </form>
        </nav>

        

    </header>

    <main>

        <section>
            <h3>Noticias</h3>




        </section>
        <section>
            
            <a href="">Se voluntario</a>
            <h2>Mision</h2>



        </section>
        <section>
            <h3>Clima y Energia</h3>

            <article>





            </article>
            <article>





            </article>
            <article>





            </article>
        </section>



    </main>

    <footer>
        

    </footer>

</body>
</html>