<!DOCTYPE html>
<html lang='es'>
<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>BioImpact</title>
    <link rel='stylesheet' href='../../public/css/styles.css'>
    <script src="https://kit.fontawesome.com/adc9d4d85c.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="flex-header">

        <div>
            <img class="logo" src="../../public/images/Logo.png" alt="Logo BioImpact">
        </div>
        
        
        <nav class="flex-nav" >
            <ul class="flex-ul">
                <li><a href="" class="a-class">EcoEscuelas</a></li>
                <li><a href="" class="a-class">PlantAr</a></li>
                <li><a href="" class="a-class">Cero Reciduos</a></li>
                <li><a href="" class="a-class">Guardianes Del Agua</a></li>
            </ul>

            <div class="search-container">
                <input type="text" placeholder="Buscar proyectos..." class="search-input">
                <button type="submit" class="search-btn">
                    Buscar
                </button>
            </div>

        </nav>

        <div>
            <a href="" class="donation-button">Doná Ahora</a>
            <i class="fa-solid fa-arrow-right-from-bracket login"></i>
        </div>

        

    </header>

</body>
</html>